<h1 class="text-center">Customer-briefcase</h1>
<div class="container">
    <div>
        <ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab-md" data-toggle="tab" href="#home-md" role="tab"
                    aria-controls="home-md" aria-selected="true">Other-document</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab"
                    aria-controls="profile-md" aria-selected="false">Passport</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#contact-md" role="tab"
                    aria-controls="contact-md" aria-selected="false">Visa</a>
            </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContentMD">
            <div class="tab-pane fade show active" id="home-md" role="tabpanel" aria-labelledby="home-tab-md">
                <div class="row">
                    <div class="col-6">
                        <p class="trip-name" (click)="userdata()">USA</p>
                    </div>
                    <div class="col-6">
                        <p class="right">New</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile-md" role="tabpanel" aria-labelledby="profile-tab-md">
                <p>Hello1</p>
            </div>
            <div class="tab-pane fade" id="contact-md" role="tabpanel" aria-labelledby="contact-tab-md">
                <p>Hello2</p>
            </div>
        </div>
    </div>
</div>