<h1 class="text-center">Notifications</h1>
<div class="container">
    <ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab-md" data-toggle="tab" href="#home-md" role="tab"
                aria-controls="home-md" aria-selected="true">Document Request</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab"
                aria-controls="profile-md" aria-selected="false">Appointment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab-md" data-toggle="tab" href="#contact-md" role="tab"
                aria-controls="contact-md" aria-selected="false">Payment</a>
        </li>
    </ul>
    <div class="tab-content card pt-5" id="myTabContentMD">
        <div class="tab-pane fade show active" id="home-md" role="tabpanel" aria-labelledby="home-tab-md">
            <p>Username</p>
            <p>Title</p>
            <p>Content</p>
        </div>
        <div class="tab-pane fade" id="profile-md" role="tabpanel" aria-labelledby="profile-tab-md">
            <p>Username</p>
            <p>Preferred-date</p>
            <p>Preferred-time</p>
            <p>Preferred-location</p>
        </div>
        <div class="tab-pane fade" id="contact-md" role="tabpanel" aria-labelledby="contact-tab-md">
            <p>Username</p>
            <p>Trip-title</p>
            <p>Status</p>
        </div>
    </div>
</div>